@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-luxury-900 text-white antialiased;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #D4B886, #B39665);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .bg-luxury-gradient {
    background: linear-gradient(120deg, #141414 0%, #0A0A0A 100%);
  }
}